.nav-container {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  font-family: "Roboto Mono", sans-serif;
  height: 100px;
  position: relative;
  font-size: 20px;
  margin-bottom: 70px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item.active:hover {
  transform: none;
}

.nav-indicator {
  position: absolute;
  bottom: -3px;
  width: 70px;
  height: 10px;
  transition: transform 0.3s ease;
}

.nav-indicator.clients {
  transform: translateX(-145px);
}

.nav-indicator.products {
  transform: translateX(5px);
}

.nav-indicator.orders {
  transform: translateX(151px);
}

.nav-indicator.clients-color {
  background-color: #4dcfe3;
}

.nav-indicator.products-color {
  background-color: #a3bf8f;
}

.nav-indicator.orders-color {
  background-color: #fc8449;
}

.nav-image {
  width: 50px;
  cursor: pointer;
}
